#canvas {
    background-color: black;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color:  #5ece40;
    text-align: center;
}

canvas {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}